
.homepage {
    background-image: url('./HomePage.jpg');
    height:100vh;
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
    background-position: bottom;   
    background-attachment: fixed;
}