*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./HomePage.jpg');
    height:100vh;
    background-repeat:no-repeat;
    witdh:100%;
    background-size: cover;
    background-position: center;   
    background-attachment:initial;
}